<%- include("header.ejs") %>

<% if(formD && formD[t]) { %>

  <h2> <%= formD[t].title %> </h2>
  <strong class="blogAuthor"> Author: <%= formD[t].author %> </strong>
  <p class="bolgContent"> <%= formD[t].blog %> </p>

<% } else { %>
  <p>Post not found.</p>
<% } %>

<%- include("footer.ejs") %>